[submodule "themes/even"]
	path = themes/even
	url = https://github.com/luckyoneday/hugo-theme-even.git
[submodule "public"]
  path = public
  url = https://github.com/luckyoneday/luckyoneday.github.io.git
  branch = master